<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="footer-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/term">Terms and Conditions</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-rights">
            Copyright &copy; 2016 <a href="#">www.hoteleverlink.com</a>. All rights reserved.
        </div>
    </div>
</footer>
