#macro(headLayout)

<!DOCTYPE html>
<html lang="en-gb">

<head>

    #parse("layout/head.vm")

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    $!bodyContent

</head>

#end

#macro(mainLayout)

<body>

<div class="header">
    <div class="header-top">
        <div class="container">
            <a class="navbar-brand" href="/" title="HotelEverlink"><img src="images/logo.png" alt=""></a>
            <div class="customer-support">
                <h5>24/7 Customer Support</h5>
                <p>US TOLL FREE +1-855-590-0680<br>CHINA OFFICE +86-400-1203012</p>
            </div>
        </div>
    </div>

    #parse("layout/navbar.vm")

</div>

<!-- Contents -->
<div class="content">

    $!bodyContent

</div>

    #parse("layout/footer.vm")

#end

#macro(scriptLayout)
    #parse("layout/script.vm")

    $!bodyContent

</body>
</html>

#end