#macro(headLayout)

<!DOCTYPE html>
<html lang="en-gb">

<head>

    #parse("layout/head.vm")

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    $!bodyContent

</head>

#end

#macro(mainLayout)

<body>

<div class="header">
    <div class="header-top header-top-short has-shadow">
        <div class="container">
            <a class="navbar-brand" href="#" title="HotelEverlink"><img src="images/logo.png" alt=""></a>
            <div class="header-nav">
                <nav class="navbar navbar-default">
                    <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="navi-lugage"></span>Manage Booking<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Booking History</a></li>
                                    <li><a href="#">Booking Plans</a></li>
                                    <li><a href="#">Saved Booking</a></li>
                                    <li><a href="#">Retrieve Booking</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><span class="navi-account"></span>Account Information</a></li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="navi-lang lang-en"></span>Eng<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-lang">
                                    <li class="active"><a href="#"><span class="navi-lang lang-en"></span>English</a></li>
                                    <li><a href="#"><span class="navi-lang lang-gr"></span>Germany</a></li>
                                    <li><a href="#"><span class="navi-lang lang-fr"></span>French</a></li>
                                    <li><a href="#"><span class="navi-lang lang-sp"></span>Spanich</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="navi-currency"></span>USD<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-currency">
                                    <li class="active"><a href="#"><span>$</span>U.S. Dollar</a></li>
                                    <li><a href="#"><span>&euro;</span>Euros</a></li>
                                    <li><a href="#"><span>&pound;</span>British Pound</a></li>
                                    <li><a href="#"><span>&yen;</span>Japenese Yen</a></li>
                                    <li><a href="#"><span>HK$</span>Hong Kong Dollar</a></li>
                                    <li><a href="#"><span>CN&yen;</span>Chinese Yuan</a></li>
                                </ul>
                            </li>
                            <li class="dropdown active"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="user-profile"><img src="images/anonymous.png" alt=""></span>Andrew David<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Messages <span class="badge">2</span></a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Help Center</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Sign Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    #parse("layout/navbar.vm")

</div>

<!-- Contents -->
<div class="content">

    $!bodyContent

</div>

    #parse("layout/footer.vm")

#end

#macro(scriptLayout)
    #parse("layout/script.vm")

    $!bodyContent

</body>
</html>

#end