<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/jquery.plugins.js"></script>

<script src="js/global.js"></script>

<script src="js/custom.js"></script>
