<div class="form-group">
    <label>Checkout</label>
    <div class="has-icon">
        <span class="icon-calendar"></span>
        <input type="text"
               class="form-control datepicker"
               id="dateCheckout"
               name="checkout"
               placeholder="dd/mm/yy"
               required
               value="$!checkout">
    </div>
</div>