<div class="form-group">
    <label>Checkin</label>
    <div class="has-icon">
        <span class="icon-calendar"></span>
        <input type="text"
               class="form-control datepicker"
               id="dateCheckin"
               name="checkin"
               placeholder="dd/mm/yy"
               required
               value="$!checkin">
        <div class="calendardaten"></div>
    </div>
</div>