## init nationality country id
#set ($strCountryId = "cn")
#set ($strCountryId = $!{nationality.getCountryId().toLowerCase()})

<div class="form-group">
    <input type="hidden" name="nationality" value="$!{nationality.getId()}">

    <label>Nationality</label>
    <div class="dropdown dropdown-lang has-selector">
        <span class="lang-en lang-active flag-icon flag-icon-${strCountryId}"></span>
        <input type="text"
               class="form-control dropdown-toggle"
               id="nationality-input"
               placeholder="China"
               required
               value="$!{nationality.getCountryName()}">
        <!-- Nationality dropdown menu -->
        <div class="dropdown-menu">
            <ul id="nationality-menu">
            </ul>
        </div>
    </div>
</div>