<div class="form-group">
    <label>Nationality</label>
    <div class="dropdown dropdown-lang has-selector">
        <span class="lang-en lang-active flag-icon flag-icon-cn"></span>
        <input type="text" class="form-control dropdown-toggle" name="nationality" placeholder="China" required>
        <!-- Nationality dropdown menu -->
        <div class="dropdown-menu">
            <ul id="nationality-menu">
            </ul>
        </div>
    </div>
</div>