<div class="form-group">
    <label>Room, Adults (18+), Children (0-12)</label>
    <div class="dropdown dropdown-room has-selector">
        <span class="lang-en lang-active"></span>
        <a href="#" id="roominfo-a" class="form-control dropdown-toggle">2 Rooms, 2 Adults, 2 Children</a>
        <div class="dropdown-menu">
            <div class="form-group-qty clearfix">
                <label>Room</label>
                <div id="controlQty" class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-min"></button>
                    </div>
                    <input type="text" class="form-control" name="roomcount" value="1">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-plus"></button>
                    </div>
                </div>
            </div>
            <ul class="form-group-room">
                <li>
                    <div class="form-group-room-title">ROOM 1</div>
                    <div class="form-group">
                        <label>Room Type</label>
                        <select class="selector" style="width:100%;">
                            <option value="">Single</option>
                            <option value="">Double</option>
                        </select>
                    </div>
                    <div class="row gutter5">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Adults (+18)</label>
                                <select class="selector" id="adultcount-select" style="width:100%;">
                                    <option value="1">1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="0">...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Children (0-17)</label>
                                <select class="selector" id="childcount-select" style="width:100%;">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="0">...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Chile age select row -->
                    <div class="row gutter5" id="childrow-div">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>