/* Checkbox and Radio
================================================== */
.icheckbox_square,.iradio_square{display:inline-block;*display:inline;vertical-align:middle;float:left;margin:0 5px 0 0;padding:0;width:22px;height:22px;background:url(images/elements.png) no-repeat;border:none;cursor:pointer;}
.icheckbox_square{background-position:0 0;}
.icheckbox_square.hover{background-position:-22px 0;}
.icheckbox_square.checked{background-position:-44px 0;}
.icheckbox_square.disabled{background-position:-66px 0;cursor:default;}
.icheckbox_square.checked.disabled{background-position:-88px 0;}
.iradio_square{background-position:-110px 0;}
.iradio_square.hover{background-position:-132px 0;}
.iradio_square.checked{background-position:-154px 0;}
.iradio_square.disabled{background-position:-176px 0;cursor:default;}
.iradio_square.checked.disabled{background-position:-198px 0;}
.icheckbox_filter,.iradio_filter{display:inline-block;*display:inline;vertical-align:middle;float:left;margin:0 5px 0 0;padding:0;width:15px;height:15px;background:url(images/checkbox-filter.png) no-repeat;border:none;cursor:pointer;}
.icheckbox_filter{background-position:0 0;}
.icheckbox_filter.hover{background-position:-15px 0;}
.icheckbox_filter.checked{background-position:-30px 0;}


/* Rates
================================================== */
.rate{position:relative;display:inline-block;margin-top:-2px;width:110px;height:22px;background:url(images/stars.png) 0 0 repeat-x;vertical-align:middle;}
.rate > span{position:absolute;left:0;top:0;height:22px;background:url(images/stars.png) 0 -22px repeat-x;}
.rate .rate1{width:22px;}
.rate .rate2{width:44px;}
.rate .rate3{width:66px;}
.rate .rate4{width:88px;}
.rate .rate5{width:110px;}
.rate.rate-sm{width:100px;height:20px;background-image:url(images/stars-sm.png);}
.rate.rate-sm > span{height:20px;background-image:url(images/stars-sm.png);background-position:0 -20px;}
.rate.rate-sm .rate1{width:20px;}
.rate.rate-sm .rate2{width:40px;}
.rate.rate-sm .rate3{width:60px;}
.rate.rate-sm .rate4{width:80px;}
.rate.rate-sm .rate5{width:100px;}


/* Selector */
.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle;font-family:"Arial",sans-serif;font-size:12px;font-weight:bold;}
.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:33px;user-select:none;-webkit-user-select:none;}
.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:12px;padding-right:22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{padding-right:10px;padding-left:24px;}
.select2-container .select2-selection--multiple{box-sizing:border-box;cursor:pointer;display:block;min-height:31px;user-select:none;-webkit-user-select:none;}
.select2-container .select2-selection--multiple .select2-selection__rendered{display:inline-block;overflow:hidden;padding-left:12px;text-overflow:ellipsis;white-space:nowrap;}
.select2-container .select2-search--inline{float:left;}
.select2-container .select2-search--inline .select2-search__field{box-sizing:border-box;border:none;font-size:100%;margin-top:5px;}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none;}
.select2-dropdown{background-color:white;border:1px solid #bdb8c3;border-radius:3px;box-sizing:border-box;display:block;position:absolute;left:-100000px;width:100%;z-index:1051;}
.select2-results{display:block;}
.select2-results__options{list-style:none;margin:0;padding:0;}
.select2-results__option{padding:5px 10px;user-select:none;-webkit-user-select:none;}
.select2-results__option[aria-selected]{cursor:pointer;}
.select2-container--open .select2-dropdown{left:0;}
.select2-container--open .select2-dropdown--above{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.select2-container--open .select2-dropdown--below{border-top:none;border-top-left-radius:0;border-top-right-radius:0;}
.select2-search--dropdown{display:block;padding:4px;}
.select2-search--dropdown .select2-search__field{padding:4px;width:100%;box-sizing:border-box;}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none;}
.select2-search--dropdown.select2-search--hide{display:none;}
.select2-close-mask{border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:99;background-color:#fff;filter:alpha(opacity=0);}
.select2-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.select2-container--default .select2-selection--single{background-color:#fafafa;border:1px solid #bdb8c3;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:31px;}
.select2-container--default .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:300;}
.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#777;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:31px;position:absolute;top:1px;right:4px;width:20px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{left:50%;margin-left:-15px;margin-top:-15px;position:absolute;top:50%;width:30px;height:30px;background:url(images/selector-sm.png) 0 0 no-repeat;}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{left:1px;right:auto;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{background-position:0 0;}
.select2-container--default .select2-selection--multiple{background-color:white;border:1px solid #bdb8c3;border-radius:3px;cursor:text;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%;}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder{color:#777;margin-top:5px;float:left;}
.select2-container--default .select2-selection--multiple .select2-selection__clear{cursor:pointer;float:right;font-weight:300;margin-top:5px;margin-right:10px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #bdb8c3;border-radius:3px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#999;cursor:pointer;display:inline-block;font-weight:300;margin-right:2px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{color:#333;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder{float:right;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto;}
.select2-container--default.select2-container--focus .select2-selection--multiple{border:solid black 1px;outline:0;}
.select2-container--default.select2-container--disabled .select2-selection--multiple{background-color:#eee;cursor:default;}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove{display:none;}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{border-top-left-radius:0;border-top-right-radius:0;}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom-left-radius:0;border-bottom-right-radius:0;}
.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #bdb8c3;}
.select2-container--default .select2-search--inline .select2-search__field{background:transparent;border:none;outline:0;}
.select2-container--default .select2-results>.select2-results__options{max-height:200px;overflow-y:auto;}
.select2-container--default .select2-results__option[role=group]{padding:0;}
.select2-container--default .select2-results__option[aria-disabled=true]{color:#999;}
.select2-container--default .select2-results__option[aria-selected=true]{background-color:#ddd;}
.select2-container--default .select2-results__option .select2-results__option{padding-left:1em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group{padding-left:0;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option{margin-left:-1em;padding-left:2em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-2em;padding-left:3em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-3em;padding-left:4em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-4em;padding-left:5em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-5em;padding-left:6em;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#bdb8c3;color:#3d3d3d;}
.select2-container--default .select2-results__group{cursor:default;display:block;padding:6px;}



/* NoUISlider */
.noUi-target,
.noUi-target *{-webkit-touch-callout:none;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box;}
.noUi-target{position:relative;direction:ltr;}
.noUi-base{position:relative;z-index:1;width:100%;height:100%;}
.noUi-connect{position:absolute;right:0;top:0;left:0;bottom:0;}
.noUi-origin{position:absolute;height:0;width:0;}
.noUi-handle{position:relative;z-index:1;}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin{-webkit-transition:top 0.3s,right 0.3s,bottom 0.3s,left 0.3s;transition:top 0.3s,right 0.3s,bottom 0.3s,left 0.3s;}
.noUi-state-drag *{cursor:inherit !important;}
.noUi-base,
.noUi-handle{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.noUi-horizontal{height:18px;}
.noUi-horizontal .noUi-handle{left:-17px;top:-6px;width:34px;height:28px;}
.noUi-vertical{width:18px;}
.noUi-vertical .noUi-handle{left:-6px;top:-17px;width:28px;height:34px;}
.noUi-target{background:#fafafa;border-radius:4px;border:1px solid #d3d3d3;box-shadow:inset 0 1px 1px #f0f0f0,0 3px 6px -5px #bbb;}
.noUi-connect{background:#3fb8af;box-shadow:inset 0 0 3px rgba(51,51,51,0.45);-webkit-transition:background 450ms;transition:background 450ms;}
.noUi-draggable{cursor:w-resize;}
.noUi-vertical .noUi-draggable{cursor:n-resize;}
.noUi-handle{border:1px solid #d9d9d9;border-radius:3px;background:#fff;cursor:default;box-shadow:inset 0 0 1px #fff,inset 0 1px 7px #ebebeb,0 3px 6px -3px #bbb;}
.noUi-active{box-shadow:inset 0 0 1px #fff,inset 0 1px 7px #ddd,0 3px 6px -3px #bbb;}
.noUi-handle:before,
.noUi-handle:after{content:"";position:absolute;left:14px;top:6px;display:block;height:14px;width:1px;background:#e8e7e6;}
.noUi-handle:after{left:17px;}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after{left:6px;top:14px;width:14px;height:1px;}
.noUi-vertical .noUi-handle:after{top:17px;}
[disabled] .noUi-connect{background:#B8B8B8;}
[disabled].noUi-target,[disabled].noUi-handle,[disabled] .noUi-handle{cursor:not-allowed;}

.noUi-tooltip{position:absolute;display:block;color:#333;font-family:"Open Sans";font-size:12px;font-weight:700;text-align:center;}
.noUi-tooltip::before{content:"$";}
.noUi-horizontal .noUi-tooltip{left:50%;bottom:-20px;-webkit-transform:translate(-50%,0);transform:translate(-50%,0);}
.noUi-vertical .noUi-tooltip{top:50%;right:120%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);}

.noUi-pips,
.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box;}
.noUi-pips{position:absolute;color:#999;}
.noUi-value{position:absolute;text-align:center;}
.noUi-value-sub{color:#ccc;font-size:10px;}
.noUi-marker{position:absolute;background:#ccc;}
.noUi-marker-sub{background:#aaa;}
.noUi-marker-large{background:#aaa;}
.noUi-pips-horizontal{top:100%;left:0;padding:10px 0;width:100%;height:80px;}
.noUi-value-horizontal{-webkit-transform:translate3d(-50%,50%,0);transform:translate3d(-50%,50%,0);}
.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px;}
.noUi-marker-horizontal.noUi-marker-sub{height:10px;}
.noUi-marker-horizontal.noUi-marker-large{height:15px;}
.noUi-pips-vertical{top:0;left:100%;padding:0 10px;height:100%;}
.noUi-value-vertical{padding-left:25px;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);}
.noUi-marker-vertical.noUi-marker{margin-top:-1px;width:5px;height:2px;}
.noUi-marker-vertical.noUi-marker-sub{width:10px;}
.noUi-marker-vertical.noUi-marker-large{width:15px;}
