#parse("layout.vm")

#@mainLayout()

<section class="section_hero hero_home">
    <div class="container">
        <div class="hero-content">
            <h1>WELCOME TO HOTELEVERLINK ONLINE SYSTEM</h1>
            <h3>Strong Supply, Competitive Rate, Efficient Technology, Quality Experience</h3>
            <p>We are a global distributor of accommodation and a professional solution to the world's travel trade.  <br>When you choose us, you choose simplicity at a click of a button.</p>
            <hr class="break break10">
            <a href="#" class="btn btn-purple arrow-circle-right">SIGNUP NOW</a>
        </div>

        <!-- sign in popup -->
        <div class="form-signin">
            <div class="form-signin-heading">SIGNIN NOW!!!</div>

            #parse("signinPopup.vm")

        </div>
    </div>
</section>
<!--
    <section class="space-lg">
        <div class="container">
            <article class="post">
                <div class="post-title">
                    <h1 class="text-purple-dark">Welcome to Our Hotereverlink agencies</h1>
                    <h3 class="text-purple-light">Provide Hotel Booking Service for Travel Agencies</h3>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.</p>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <a href="#" class="btn btn-lg btn-purple-dark arrow-circle-right">SIGNUP NOW</a>
            </article>
        </div>
    </section>
-->

#end